# Core dependencies
torch
numpy
scipy

# Audio/Video processing
librosa
soundfile
aiortc
av

# ML packages
accelerate==1.6.0
diffusers
transformers
flash-attn

# Other utilities
absl-py
ml-collections
tqdm

# VibeVoice
git+https://github.com/microsoft/VibeVoice.git